{template "common/header"}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('Index')}">店铺列表</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('AddNewShop')}">添加新店铺</a></li>
</ul>
<div class="panel panel-default">
	<div class="panel-heading">添加新店铺</div>
	<div class="panel-body">
	<form action="{php echo $this->createWebUrl('DoAddShop');}" method="post">
		<p>店铺图片:
			{php echo tpl_form_field_image('thumb', $info['thumb']); }
		</p>
		<p>店铺名称:
			<input type="text" name="name" class="form-control" placeholder="店铺名称">
		</p>
		<p>店铺简介:
			<textarea name="description" class="form-control" placeholder="店铺简介"></textarea>
		</p>
		<p>店铺位置:
			{php echo tpl_form_field_coordinate('location');}
		</p>
		<p>营业时间:
			<input type="text" class="form-control" placeholder="8:00 - 17:00" name="bus_time">
		</p>
		<p>店铺地点:
			<input type="text" class="form-control" placeholder="店铺地点" name="add">
		</p>
		<p>
			<input type="submit" class="btn btn-success" value="确认添加">
		</p>
	</div>
	</form>
</div>
{template "common/footer"}
