{template "header"}
	<div class="content">
		<!-- 三张图片 -->
		<div class="imgs" id="img1">
			<a href="{php echo $this->createMobileUrl('Goods')}">
				<img src="./resource/images/app/reservation_mid-btns-1.png" alt="服务项目">
			</a>
		</div>
		<div class="imgs" id="img2">
			<a  href="{php echo $this->createMobileUrl('Order')}">
				<img src="./resource/images/app/reservation_mid-btns-2.png" alt="我要预约">
			</a>
		</div>
		<div class="imgs" id="img3">
			<a  href="{php echo $this->createMobileUrl('Workers')}">
				<img src="./resource/images/app/reservation_mid-btns-3.png" alt="金牌养生师">
			</a>
		</div>
	</div>
	<div class="footer">
		
	</div>

</html>
